# Node
node_modules/
build/
.env


# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
uploads_temp/
originali/
testi/
backups/
